body {
    color: salmon;
     text-align: center;
     font-family: sans-serif;
     margin: 0 auto;
     padding: 0 auto;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background-color: blue;
    color: #ffff;
    font-weight: bold;
    margin: 0;
    padding: 0.5em;
    box-shadow: 0px, 5px, 30px, 0 rgba(0, 0, 0, 0.75);
}

#cabecera #tagline {
    padding: 0, 0, 0, 1em;
    font-weight: normal;
    font-size: 0.8em;
    
}