body {
    background-color: rebeccapurple;
    color: salmon;
     text-align: center;
     font-family: sans-serif;
     margin: 0 auto;
     padding: 0 auto;
}

#container {
    width: 70%;
    padding: 1em;
    text-align: left;
    border: 1px solid #ddd;
    margin: 0 auto;
}

#container h1 {
    font-size: 20px;
}

#cabecera {
    background-color: blue;
    background-image: url("./imagenes/logo-sip.webp");
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    color:red;
    position: ;
    font-weight: bold;
    margin: 10px;
    padding: 0.5em 0 0.5em 2em;
    box-shadow: 0px, 2px, 20px, 0px rgba(0, 0, 0, 0.75);
}

#cabecera #logo {
    width:  20px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0, 0, 0, 1em;
    font-weight: normal;
    font-size: 0.8em;
    
}

footer p {
    color: aqua;
    text-align: center;
    background-color: gray;
    margin-top: 25px;
    padding-bottom: 10px;
    font-size: 16px;

}
